* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px black solid; */
}

@font-face {
  font-family: Lato;
  src: url("./assets/fonts/lato/Lato-Light.ttf");
}

:root {
  --borderRadiusPrimary: 5px;
  --borderPrimary: 1px rgb(215, 215, 215) solid;

  --whiteSmokeHoverColor: rgb(235, 235, 235);
  --whiteSmokeActiveColor: rgb(228, 228, 228);
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  display: grid;
  grid-template-columns: 275px 1fr 275px;
  grid-template-rows: 1fr;
  grid-template-areas: "menu main-display editor";
  gap: 5px;

  padding: 5px;

  font-family: Lato;
}

.icon {
  width: 18px;
  margin: 0;
  padding: 0;
}

input {
  all: unset;
}

/* menu section */
#menu {
  --innerMenuLeftBoxPadding: 2px;

  display: flex;
  flex-direction: column;

  padding: 5px;

  border: var(--borderPrimary);
  border-radius: var(--borderRadiusPrimary);
}
#menu section {
  margin: 8px 0 4px 0;
}
h1 {
  display: flex;
  align-items: center;

  height: 35px;
  margin: 5px 0 5px 0;
}
h3 {
  display: flex;
  align-items: center;

  height: 30px;
}

/* search bar section */
.search-bar {
  --pixels: 25px;
  --searchIconHeight: var(--pixels);
  --searchIconWidth: var(--pixels);

  display: flex;
  align-items: center;

  margin: 0!important;
  padding-left: 8px;

  width: 100%;
  height: 50px;

  background-color: rgba(16, 249, 16, 0.2);
  border-radius: var(--borderRadiusPrimary);
}
.search-bar label {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-icon {
  width: var(--searchIconWidth);
  height: var(--searchIconHeight);
  margin-right: 5px;

  filter: opacity(.7);
}
/* actual bar */
#search-bar {
  height: 25px;
  font-family: inherit;

  padding-left: 8px;

  border: 1px solid grey;
  border-radius: var(--borderRadiusPrimary);

  background-color: white;
}

/* tasks section */
#tasks {
  flex: 0 0 150px;
}
.task-btn-container {
  display: flex;
  flex-direction: column;
  gap: 5px;

  padding-left: var(--innerMenuLeftBoxPadding);
}
.task-btn-container button {
  width: 98%;
  height: 28px;

  display: flex;
  align-items: center;
  
  text-align: left;
  font-size: 16px;
  font-family: inherit;

  border: none;
  border-radius: var(--borderRadiusPrimary);

  background-color: rgba(0, 119, 255, 0.2);
  
  cursor: pointer;
}
.task-btn-container .icon {
  margin: 0 6px 0 3px;
}
.task-btn-container button:hover {
  background-color: rgba(0, 119, 255, 0.3);
}
.task-btn-container button:active {
  background-color: rgba(0, 119, 255, 0.35);
}

/* projects section */
#projects {
  flex: 1 0 auto;
}
/* drop down */
button {
  all: unset;
}
.sort-by-button {
  font-size: 14px;
  width: fit-content;

  border: var(--borderPrimary);
  border-radius: var(--borderRadiusPrimary);

  padding: 2px 4px 2px 4px;
  margin-bottom: 3px;
}
.sort-by-button  {
  background-color: rgb(250, 250, 250);
}
.sort-by-button:hover {
  background-color: var(--whiteSmokeHoverColor);
}
.sort-by-button:active {
  background-color: var(--whiteSmokeActiveColor);
}

.hidden {
  display: none !important;
}

.sort-options {
  list-style: none;
  font-size: 12px;

  width: fit-content;
  z-index: 2;
  position: absolute;

  padding: 3px;
  background-color: rgb(250, 250, 250);

  -webkit-box-shadow: 0px 0px 8px 1px rgba(196,196,196,1);
  -moz-box-shadow: 0px 0px 8px 1px rgba(196,196,196,1);
  box-shadow: 0px 0px 8px 1px rgba(196,196,196,1);
}
.sort-options li {
  cursor: pointer;
  user-select: none;
}
.sort-options li:hover {
  background-color: var(--whiteSmokeHoverColor);
}
.sort-options li:active {
  background-color: var(--whiteSmokeActiveColor);
}
/*  */

.projects-wrapper {
  overflow: hidden;
  border: 1px solid whitesmoke;
  border-radius: var(--borderRadiusPrimary);
}
.project-container {
  overflow: auto;

  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 5px;

  height: 300px;
}
/* project item styling */
.project-item {
  height: 50px;
  padding: 5px;
  font-size: 15px;

  display: flex;
  align-items: center;

  border-radius: var(--borderRadiusPrimary);
  background-color: rgb(250, 250, 250);
}
.project-due-date {
  font-size: 13px;
}
.project-priority {
  margin-left: auto;
  padding: 5px 8px 5px 8px;

  font-size: 12px;
  font-weight: bold;

  border-radius: var(--borderRadiusPrimary);
}
/* prio tags */
.medium {
  background-color: rgb(255, 255, 0, .5);

  color: rgb(103, 103, 0);

  border: 1px solid rgb(161, 161, 0);
}
.high {
  background-color: rgba(255, 0, 0, .7);
  
  color: rgb(90, 1, 1);

  border: 1px solid rgb(190, 0, 0);
}
.low {
  background-color: rgb(0, 190, 0, .3);

  color: green;

  border: 1px solid green;
}
.critical {
  background-color: rgb(156, 58, 255);

  color: white;

  border: 1px solid purple;
}