* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px black solid; */
}

@font-face {
  font-family: Lato;
  src: url("./assets/fonts/lato/Lato-Light.ttf");
}

:root {
  --borderRadiusPrimary: 5px;
  --borderPrimary: 1px rgb(215, 215, 215) solid;

  --whiteSmokeHoverColor: rgb(235, 235, 235);
  --whiteSmokeActiveColor: rgb(228, 228, 228);
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  display: grid;
  grid-template-columns: 290px 1fr 300px;
  grid-template-rows: 1fr;
  grid-template-areas: "menu main-display editor";
  gap: 5px;

  padding: 5px;

  font-family: Lato;
}

.icon {
  width: 18px;
  margin: 0;
  padding: 0;
}

input {
  all: unset;
}

/* menu section */
#menu {
  --innerMenuLeftBoxPadding: 2px;

  display: flex;
  flex-direction: column;

  padding: 5px;

  border: var(--borderPrimary);
  border-radius: var(--borderRadiusPrimary);
}
#menu section {
  margin: 8px 0 4px 0;
}
h1 {
  display: flex;
  align-items: center;

  height: 35px;
  margin: 5px 0 5px 0;
  font-size: 30px;
}
h3 {
  display: flex;
  align-items: center;

  height: 30px;
}

/* search bar section */
.search-bar {
  --pixels: 25px;
  --searchIconHeight: var(--pixels);
  --searchIconWidth: var(--pixels);

  display: flex;
  align-items: center;

  margin: 0!important;
  padding-left: 8px;

  width: 100%;
  height: 50px;

  background-color: rgba(16, 249, 16, 0.2);
  border-radius: var(--borderRadiusPrimary);
}
.search-bar label {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-icon {
  width: var(--searchIconWidth);
  height: var(--searchIconHeight);
  margin-right: 5px;

  filter: opacity(.7);
}
/* actual bar */
#search-bar {
  height: 25px;
  font-family: inherit;

  padding-left: 8px;

  border: 1px solid grey;
  border-radius: var(--borderRadiusPrimary);

  background-color: white;
}

/* tasks section */
#tasks {
  flex: 0 0 150px;
}
.task-btn-container {
  display: flex;
  flex-direction: column;
  gap: 5px;

  padding-left: var(--innerMenuLeftBoxPadding);
}
.task-btn-container button {
  width: 98%;
  height: 28px;

  display: flex;
  align-items: center;
  
  text-align: left;
  font-size: 16px;
  font-family: inherit;

  border: none;
  border-radius: var(--borderRadiusPrimary);

  background-color: rgba(0, 119, 255, 0.2);
  
  cursor: pointer;
}
.task-btn-container .icon {
  margin: 0 6px 0 3px;
}
.task-btn-container button:hover {
  background-color: rgba(0, 119, 255, 0.3);
}
.task-btn-container button:active {
  background-color: rgba(0, 119, 255, 0.35);
}

/* projects section */
#projects {
  flex: 1 0 auto;
}

/* drop down */
button {
  all: unset;
}
.sort-by-button {
  font-size: 14px;
  width: fit-content;

  border: var(--borderPrimary);
  border-radius: var(--borderRadiusPrimary);

  padding: 2px 4px 2px 4px;
  margin-bottom: 3px;

  background-color: rgb(250, 250, 250);

  cursor: pointer;
}
.sort-by-button:hover {
  background-color: var(--whiteSmokeHoverColor);
}
.sort-by-button:active {
  background-color: var(--whiteSmokeActiveColor);
}

.hidden {
  display: none !important;
}

.sort-options {
  list-style: none;
  font-size: 12px;

  width: fit-content;
  z-index: 2;
  position: absolute;

  padding: 3px;
  background-color: rgb(250, 250, 250);

  -webkit-box-shadow: 0px 0px 8px 1px rgba(196,196,196,1);
  -moz-box-shadow: 0px 0px 8px 1px rgba(196,196,196,1);
  box-shadow: 0px 0px 8px 1px rgba(196,196,196,1);
}
.sort-options li {
  cursor: pointer;
  user-select: none;
}
.sort-options li:hover {
  background-color: var(--whiteSmokeHoverColor);
}
.sort-options li:active {
  background-color: var(--whiteSmokeActiveColor);
}
/*  */

.projects-wrapper {
  overflow: hidden;
  border: 1px solid whitesmoke;
  border-radius: var(--borderRadiusPrimary);
}
.project-container {
  overflow: auto;

  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 5px;

  height: 300px;
}
/* project item styling */
.project-item {
  height: 50px;
  padding: 5px;
  font-size: 15px;

  display: flex;
  align-items: center;

  border-radius: var(--borderRadiusPrimary);
  background-color: rgb(250, 250, 250);

  cursor: pointer;
}
.project-item:hover {
  background-color: rgb(242, 242, 242);
}
.project-item:active {
  background-color: rgb(232, 232, 232);
}
.project-title {
  user-select: none;
}
.project-due-date {
  font-size: 13px;
}
.project-priority, .card-priority {
  margin-left: auto;
  padding: 5px 8px 5px 8px;

  font-size: 12px;
  font-weight: bold;

  border-radius: var(--borderRadiusPrimary);
}
/* prio tags */
.medium {
  background-color: rgba(255, 255, 0, 0.5);

  color: rgb(85, 85, 0);

  border: 1px solid rgb(161, 161, 0);

  border-radius: var(--borderRadiusPrimary);
  user-select: none;
}
.high {
  background-color: rgba(255, 0, 0, 0.70);
  
  color: rgb(111, 13, 13);

  border: 1px solid rgb(190, 0, 0);

  border-radius: var(--borderRadiusPrimary);
  user-select: none;
}
.low {
  background-color: rgb(0, 190, 0, .2);

  color: green;

  border: 1px solid green;

  border-radius: var(--borderRadiusPrimary);
  user-select: none;
}
.critical {
  background-color: rgb(156, 58, 255);

  color: white;

  border: 1px solid purple;

  border-radius: var(--borderRadiusPrimary);
  user-select: none;
}

/* main display section */
#main-display {
  border: var(--borderPrimary);
  border-radius: var(--borderRadiusPrimary);

  padding: 5px;

  display: flex;
  flex-direction: column;
}
.main-title-date-wrapper {
  display: flex;
  align-items: center;
}
.main-title {
  margin-left: 3px;
}
.main-date {
  margin: 5px 0 0 20px;
  color: grey;
  font-size: 22px;
  font-weight: 100;
}

.card-container-wrapper {
  border-radius: var(--borderRadiusPrimary);
  overflow: hidden;
}
.card-container {
  overflow: auto;
  height: 576px;
  
  display: flex;
  flex-direction: column;
  gap: 13px;
}
/* card styling */
.card {
  width: 580px;
  height: 55px;

  display: flex;
  align-items: center;
  flex-shrink: 0;

  padding: 0 8px 0 8px;

  border-radius: var(--borderRadiusPrimary);
  background-color: whitesmoke;

  cursor: pointer;
}
.card:hover {
  background-color: rgb(240, 240, 240);
}
.card:active {
  background-color: rgb(235, 235, 235);
}

.card-title {
  font-size: 20px;
}
.card-info-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;

  margin-top: 2px;

  font-size: 13px;
  user-select: none;
}
.card-complete-status {
  background-color: rgb(221, 221, 221);
  padding: 1px 2px 1px 2px;
}
.card-project {
  background-color: rgb(221, 133, 0, .3);
  padding: 1px 3px 1px 3px;
}

/* editor section */
#editor {
  border: var(--borderPrimary);
  border-radius: var(--borderRadiusPrimary);

  padding: 5px;
}
.editor-title {
  margin-left: 3px;
}
#editor form {
  width: 100%;
  height: 590px;

  padding: 3px;

  border-radius: var(--borderRadiusPrimary);

  display: flex;
  flex-direction: column;
}

#editor div {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
#editor input {
  border: 1px solid rgb(200, 200, 200);
  border-radius: var(--borderRadiusPrimary);
  
  margin-bottom: 5px;
  padding: 2px 0 2px 5px;

  height: 18px;
  width: 95%;

  font-size: 15px;
  color: rgb(0, 0, 0) !important;
}
#editor label {
  margin-bottom: 5px;
}
#editor textarea {
  border-radius: var(--borderRadiusPrimary);
  border: 1px solid rgb(200, 200, 200);

  padding: 5px;
  font-family: inherit;
  color: rgb(0, 0, 0) !important;
  resize: none;

  height: 80px;
}

#task-due-date {
  font-size: 15px;
  color: grey;
}
#editor strong {
  font-size: 14px;
  color: red;
}

/* radio buttons */
input[type=radio] {
  all: revert;
  accent-color: grey;

  --pixels: 10px;
  width: var(--pixels) !important;
  height: var(--pixels) !important;
}
#priority-radio-buttons div {
  display: flex;
  flex-direction: row;
  margin: 0 !important ;
}
/* priority tags */
#priority-radio-buttons div label {
  display: flex;
  align-items: center;

  font-size: 12px;
  font-weight: bold;
  margin-bottom: 2px;

  padding: 2px 5px 2px 5px;

  user-select: none;
  cursor: pointer;
}
.radio-buttons-wrapper {
  display: flex;
  justify-content: space-around;
}

.submit-button {
  width: fit-content;
  padding: 4px 8px 4px 8px;

  background-color: rgb(61, 115, 223);
  color: white;
  border-radius: var(--borderRadiusPrimary);
  border: 1px rgb(0, 0, 163) solid;

  font-weight: bold;
  font-size: 14px;

  cursor: pointer;
  user-select: none;
}
.submit-button:hover {
  background-color: rgb(70, 120, 238);
}
.submit-button:active {
  background-color: rgb(50, 105, 213);
}
.error-msg {
  color: red;
  font-size: 12px;
  margin: 0 !important;
}
/* default editor msg */
.message-wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.message {
  color: rgb(80,80,80);
  user-select: none;
}

/* project editor */
label[for="task-group-tasks"] {
  margin-top: 5px;
}
/* group related tasks checkbox */
input[type="checkbox"] {
  all: revert !important;
  width: 12px !important;
  height: 12px !important;
  margin: 4px 8px 5px 3px !important;
}
.group-related-tasks-wrapper {
  overflow: auto;
  width: 100%;
  height: 150px;
  
  display: flex;
  flex-direction: column;
  gap: 8px;

  outline: var(--borderPrimary);
  border-radius: var(--borderRadiusPrimary);
}
#group-related-tasks .checkbox-item {
  display: flex;
  flex-direction: row;

  font-size: 16px;
  margin-bottom: 0;

  cursor: pointer;
  user-select: none;
}
#group-related-tasks .checkbox-item:hover {
  background-color: whitesmoke;
}

/* delete btn + Complete? Options */
.task-complete-radio-buttons {
  display: flex !important;
  flex-direction: row !important;
  justify-content: start;
  gap: 10px;

  margin: 0 !important;
}
.task-complete-radio-buttons input[type="radio"] {
  width: 13px !important;
  height: 13px !important;
  cursor: pointer;
}
.task-complete-radio-buttons label[class] {
  cursor: pointer;
}
.task-complete-radio-buttons div {
  display: flex !important;
  flex-direction: row !important;
  margin: 0 !important;
}